<launch>

    <group ns="/camera1/infra">
        <param 
            name="topic" 
            type="str" 
            value="/camera/infra/image_raw" />
        <param 
            name="path" 
            type="str" 
            value="/home/spadmin/catkin_ws_ngp/data/camera1/rgb" />
        <param 
            name="print_elapse_time" 
            type="bool" 
            value="False" />

        <node 
            pkg="sensors" 
            type="log_realsense.py" 
            name="log_realsense" 
            output="screen" />
    </group>

</launch>