<launch>

    <!-- <include 
        file="$(find sensors)/Launch/rs_multi.launch">
    </include> -->

    <!-- <include 
        file="$(find sensors)/Launch/rs_cam1.launch">
    </include>
    <include 
        file="$(find sensors)/Launch/rs_cam3.launch">
    </include> -->

    <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
        <arg name="time" value="1" />
        <arg name="pkg" value="sensors" />
        <arg name="file" value="rs_cam1.launch" />
        <arg name="node_name" value="timed_roslaunch1" />
    </include>

    <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
        <arg name="time" value="7" />
        <arg name="pkg" value="sensors" />
        <arg name="file" value="rs_cam2.launch" />
        <arg name="node_name" value="timed_roslaunch2" />
    </include>

    <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
        <arg name="time" value="14" />
        <arg name="pkg" value="sensors" />
        <arg name="file" value="rs_cam3.launch" />
        <arg name="node_name" value="timed_roslaunch3" />
    </include>

    <!-- <group ns="/hw_sync">
        <node 
            pkg="sensors" 
            type="rs_hw_sync.py" 
            name="rs_hw_sync" 
            output="screen" />
    </group> -->

</launch>