<launch>

    <include 
        file="$(find sensors)/Launch/visualization.launch">
    </include>   

    <include 
        file="$(find kiss_icp)/launch/odometry.launch">
    </include>   

    <group ns="/Filter_rslidar">
        <param 
            name="sub_topic" 
            type="str" 
            value="/rslidar_points" />
        <param 
            name="pub_topic" 
            type="str" 
            value="/rslidar_filtered" />
        <rosparam 
            param="lims_z" >
            [-0.4, 1.6]
        </rosparam>
        <rosparam 
            param="lims_p" >
            [-120, 120]
        </rosparam>
        <node 
            pkg="sensors" 
            type="pcl_filter_publisher_node.py" 
            name="pcl_filter_publisher_node" 
            output="screen" />
    </group>

    <group ns="/TOF1">
        <param 
            name="sensor_id" 
            type="str" 
            value="TOF1" />
        <param 
            name="pub_frame_id" 
            type="str" 
            value="robot" />
        <node 
            pkg="sensors" 
            type="pcl_meas_publisher_node.py" 
            name="pcl_meas_publisher_node" 
            output="screen" />
    </group>

    <group ns="/USS1">
        <param 
            name="sensor_id" 
            type="str" 
            value="USS1" />
        <param 
            name="pub_frame_id" 
            type="str" 
            value="robot" />
        <node 
            pkg="sensors" 
            type="pcl_meas_publisher_node.py" 
            name="pcl_meas_publisher_node" 
            output="screen" />
    </group>

    <group ns="/TOF3">
        <param 
            name="sensor_id" 
            type="str" 
            value="TOF3" />
        <param 
            name="pub_frame_id" 
            type="str" 
            value="robot" />
        <node 
            pkg="sensors" 
            type="pcl_meas_publisher_node.py" 
            name="pcl_meas_publisher_node" 
            output="screen" />
    </group>

    <group ns="/USS3">
        <param 
            name="sensor_id" 
            type="str" 
            value="USS3" />
        <param 
            name="pub_frame_id" 
            type="str" 
            value="robot" />
        <node 
            pkg="sensors" 
            type="pcl_meas_publisher_node.py" 
            name="pcl_meas_publisher_node" 
            output="screen" />
    </group>

    <group ns="/Rosbag">
        <arg 
            name="path" 
            default="/home/spadmin/catkin_ws_ngp/data/Experiments/office_2.bag" />
        <node 
            pkg="rosbag" 
            type="play" 
            name="player" 
            output="screen" 
            args="--clock $(arg path)"/>
    </group>

</launch>