<launch>

    <include 
        file="$(find sensors)/Launch/visualization.launch">
    </include>   

    <include 
        file="$(find kiss_icp)/launch/odometry.launch">
    </include>   

    <group ns="/Filter_rslidar">
        <param 
            name="sub_topic" 
            type="str" 
            value="/rslidar_points" />
        <param 
            name="pub_topic" 
            type="str" 
            value="/rslidar_filtered" />
        <rosparam 
            param="lims_z" >
            [-0.4, 1.2]
        </rosparam>
        <rosparam 
            param="lims_p" >
            [-120, 60]
        </rosparam>
        <node 
            pkg="sensors" 
            type="pcl_filter_publisher_node.py" 
            name="pcl_filter_publisher_node" 
            output="screen" />
    </group>

    <group ns="/TOF1">
        <param 
            name="sensor_id" 
            type="str" 
            value="TOF1" />
        <param 
            name="pub_frame_id" 
            type="str" 
            value="robot" />
        <node 
            pkg="sensors" 
            type="pcl_meas_publisher_node.py" 
            name="pcl_meas_publisher_node" 
            output="screen" />
    </group>

    <group ns="/USS1">
        <param 
            name="sensor_id" 
            type="str" 
            value="USS1" />
        <param 
            name="pub_frame_id" 
            type="str" 
            value="robot" />
        <node 
            pkg="sensors" 
            type="pcl_meas_publisher_node.py" 
            name="pcl_meas_publisher_node" 
            output="screen" />
    </group>

    <group ns="/TOF3">
        <param 
            name="sensor_id" 
            type="str" 
            value="TOF3" />
        <param 
            name="pub_frame_id" 
            type="str" 
            value="robot" />
        <node 
            pkg="sensors" 
            type="pcl_meas_publisher_node.py" 
            name="pcl_meas_publisher_node" 
            output="screen" />
    </group>

    <group ns="/USS3">
        <param 
            name="sensor_id" 
            type="str" 
            value="USS3" />
        <param 
            name="pub_frame_id" 
            type="str" 
            value="robot" />
        <node 
            pkg="sensors" 
            type="pcl_meas_publisher_node.py" 
            name="pcl_meas_publisher_node" 
            output="screen" />
    </group>

    <!-- <group ns="/pose_saver">
        <param 
            name="topic_pose" 
            type="str" 
            value="/kiss/odometry" />
        <param 
            name="save_dir" 
            type="str" 
            value="/home/spadmin/catkin_ws_ngp/data/test" />
        <param 
            name="output_format" 
            type="str" 
            value="quaternion" />
        <node 
            pkg="sensors" 
            type="pose_saver_node.py" 
            name="pose_saver_node" 
            output="screen" />
    </group> -->

    <!-- <group ns="/pcl_saver">
        <param 
            name="topic_pcl" 
            type="str" 
            value="/rslidar_points" />
        <param 
            name="save_dir" 
            type="str" 
            value="/home/spadmin/catkin_ws_ngp/data/PCL" />
        <node 
            pkg="sensors" 
            type="pcl_saver_node" 
            name="pcl_saver_node" 
            output="screen" />
    </group> -->

    <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
        <arg name="time" value="4" />
        <arg name="pkg" value="sensors" />
        <arg name="file" value="bag_play.launch" />
        <arg name="node_name" value="timed_roslaunch_bag_play" />
    </include>

</launch>