<launch>

    <param 
        name="port" 
        type="str"
        value="/dev/ttyACM0" />
    <param 
        name="baud" 
        type="int"
        value="115200" />
    <node 
        pkg="rosserial_python" 
        type="serial_node.py" 
        name="serial_node" >
    </node>

           

    <group ns="/TOF1">
        <param 
            name="tof_id" 
            type="str" 
            value="TOF1" />
        <param 
            name="data_dir" 
            type="str" 
            value="/home/spadmin/catkin_ws_ngp/data" />
        <param 
            name="print_elapse_time" 
            type="bool" 
            value="False" />
        <param 
            name="publish_pointcloud" 
            type="bool" 
            value="False" />
        <node 
            pkg="sensors" 
            type="tof_log.py" 
            name="tof_log_node" 
            output="screen" />
    </group>

</launch>